{% extends "layout.html" %}

{% block body %}
			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url(images/cover_bg_5.jpg);">
					<div class="desc">
						<div class="container">
							<div class="row">
								<div class="col-sm-5 col-md-5 col-12 col-sm-6">
									<!-- <a href="index.html" id="main-logo">Travel</a> -->
									<div class="tabulation animate-box">

										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
											<li	 role="presentation" class="active" style="margin-top: 0.8rem">
												<a href="#book" role="tab"
													data-toggle="tab">Book a Ride</a>
											</li>
										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="book">
												<div class="row">
													<div class="col-12 mt">
														<section>
															<label for="class">Route:</label>
															<select class="cs-select cs-skin-border">
																<option value="" disabled selected>1</option>
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
															</select>
														</section>
													</div>
													<div class="col-6 mt alternate">
														<div class="input-field">
															<label for="date-start">Date:</label>
															<input type="date" class="form-control" id="date" />
														</div>
													</div>
													<div class="col-6 mt alternate">
														<div class="input-field">
															<label for="date-end">Time:</label>
															<input type="time" class="form-control" id="time" />
														</div>
													</div>
													<div class="col-sm-12 mt">
														<section>
															<label for="class">Class:</label>
															<select class="cs-select cs-skin-border">
																<option value="" disabled selected>Basic</option>
																<option value="basic">Basic</option>
																<option value="first">First Class</option>
															</select>
														</section>
													</div>
													
													<div class="col-12">
														<input type="submit" class="btn btn-primary btn-block"
															value="Book Ride">
													</div>
												</div>
											</div>	
										</div>
									</div>
								</div>
								<div class="desc2 animate-box col-12 col-sm-6">
										<h2>Book Your Next Ride Now</h2>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

	{% endblock %}