{% extends "layout.html" %}

{% block body %}


			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url(images/cover_bg_5.jpg);">
					<div class="desc">
						<div class="container">
							<div class="row">
								<div class="col-12" style="margin-left: auto; margin-right: auto;">
									<!-- <a href="index.html" id="main-logo">Travel</a> -->
									<div class="tabulation container animate-box">
										<div class="row p-3 gray-hover">
											<h5 class="orange-text my-auto col-12 col-sm-6 ">Route 1</h5>
											<div class="text-center col-6 col-sm-3">
												<div class="gray-text">23rd May, 2020</div>
												<div class="gray-text">4:32 pm</div>
											</div>
											<div class="row my-auto col-6 col-sm-3">
												<div class="gray-text">Arriving in:</div>
												<div class="gray-text">10 minutes</div>
											</div>
										</div>
										<div class="row p-3 gray-hover">
											<h5 class="orange-text my-auto col-12 col-sm-6 ">Route 2</h5>
											<div class="text-center col-6 col-sm-3">
												<div class="gray-text">23rd May, 2020</div>
												<div class="gray-text">4:32 pm</div>
											</div>
											<div class="row my-auto col-6 col-sm-3">
												<div class="gray-text">Arriving in: </div>
												<div class="gray-text"> 3 minutes</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

{% endblock %}