{% extends "layout.html" %}
{% block title %}History{% endblock %}
{% block body %}


			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url(images/cover_bg_5.jpg);">
					<div class="desc">
						<div class="container">
							<div class="row">
								<div class="col-12" style="margin-left: auto; margin-right: auto;">
									<!-- <a href="index.html" id="main-logo">Travel</a> -->
									<div class="tabulation container animate-box">
                                        {% for i in data %}
										<div class="row p-3 gray-hover">
											<h5 class="orange-text my-auto col-12 col-sm-4 ">{{i.route}}</h5>
											<div class="row col-12 col-sm-8">
												<div class="col-8 row">
													<div class="orange-text my-auto col-4 text-center">Ride Date:</div>
													<div class="row">
														<div class="gray-text px-1">{{ i.date }}</div>
													</div>
                                                    </div>
												<div class="row my-auto col-4">
                                                    {% if i.bussClass=='Basic' %}
													<div class="orange-text my-auto col-4 text-center">{{ i.bussClass }}</div>
													<div class="gray-text">Fare:</div>
                                                    <div class="orange-text"> Rs. 50 </div>
                                                    {% else %}
                                                    <div class="orange-text my-auto col-4 text-center">{{ i.bussClass }}</div>
													<div class="gray-text">Fare:</div>
                                                    <div class="orange-text"> Rs. 100 </div>
                                                    {% endif %}
												</div>

											</div>
										</div>
                                      {% endfor %}
                                     <form class="row" action="{{ url_for('Clear') }}" method="POST" id="cancel">
                                         <input  value="Clear History " type="submit" class="btn btn-primary btn-block" ></form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

{% endblock %}