{% extends "layout.html" %}

{% block body %}


			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url(images/cover_bg_5.jpg);">
					<div class="desc">
						<div class="container">
							<div class="row">
								<div class="col-12" style="margin-left: auto; margin-right: auto;">
									<!-- <a href="index.html" id="main-logo">Travel</a> -->
									<div class="tabulation container animate-box">
										<div class="row p-3 gray-hover">
											<h5 class="orange-text my-auto col-12 col-sm-4 ">Route 1</h5>
											<div class="row col-12 col-sm-8">
												<div class="col-8 row">
													<div class="orange-text my-auto col-4 text-center">Ride Date:</div>
													<div class="row">
														<div class="gray-text px-1">23rd May, 2020</div>
														<div class="gray-text">4:32 pm</div>
													</div>
												</div>
												<div class="row my-auto col-4">
													<div class="orange-text">Fare:</div>
													<div class="gray-text">Rs. 20</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

{% endblock %}